.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-section {
  padding: 3rem 5rem 8rem;
}

.login-section .ln-row {
  justify-content: space-between;
}

.login-section .user {
  cursor: pointer;
  padding: 1rem;
}

.login-section .user img {
  width: 150px;
  margin-bottom: 1.5rem;
}

.login-section .user .name {
  font-size: 15px;
  font-weight: var(--bold-1);
}

.title {
  text-align: center;
  font-size: 22px;
  font-weight: var(--bold-1);
  margin-bottom: 2rem;
  text-decoration: underline !important;
}

.ln-row,
.ln-column {
  display: flex;
  padding: 10px;
}

.ln-row {
  flex-direction: row;
}

.center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.site-layout .site-layout-background {
  background: #fff;
}
